.font{
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.container{
    background-image: url("images/oriental.png");
}
.col-8{
    background-color: #fff;
    margin: 20px auto 60px 20px;
}
.col-8 .row{
    margin: 10px;
}
.col-8 .row .font{
    width: 100%;
}
#content{
    display: block;
}
img{
    max-width: 100%;
    object-fit: contain;
}
h1{
	background-color: #4aaaa5;
	font-size: 1.8em;
    color: white;
    padding: 20px;;
    
}
@media only screen and (max-width: 640px) {
    h1 {
        width: 100%;
    }


}
@media only screen and (min-width: 640px) {
    h1 {
        width: 230px;
        margin-left: 15px;
    }
   
    img{
        width: 250px;
        object-fit: contain;
        float: left;
        margin-right: 10px;
    }
}
@media only screen and (max-width:768px){
    .row .col-8{
        -ms-flex: 0 0 95%;
        flex: 0 0 95%;
        max-width: 92%;
    }
}
h2 {
	font-size:1.6em;
	color: #4aaaa5;
	padding:20px;
	border-bottom: 2px solid #ccc;
}
.nav-link{
    display: inline;
    border-right: 1px solid #777;
    padding: 0 15px;

}